.assets-main-form {
  .ant-drawer-content {
    .ant-drawer-header {
      .ant-drawer-title {
        color: $color-primary;
        font-weight: bold;
      }
    }
  }
  .ant-form-item-label
    > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
  }
  .ant-btn {
    background-color: $color-primary;
    border-color: $color-primary;
    background: $color-primary;
    color: $color-white;
  }
}
