.ant-select-item-option-content {
  a {
    color: $color-primary;
  }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: $color-hover-nav-bar;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: $color-primary;
  box-shadow: 0 0 0 2px $color-primary-dark;
}

.ant-select-selection-item {
  a {
    color: $color-primary;
  }
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $color-primary;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: $color-hover-nav-bar;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: $color-primary;
}

/*

.ant-select-item {
  &.ant-select-item-option {
    padding-bottom: 0;
    padding-top: 0;
    display: block;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

.ant-select-item {
  &.ant-select-item-option {
    &.ant-select-item-option-active {
      &.ant-select-item-option-selected {
        padding-bottom: 0;
        padding-top: 0;
        display: block;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.ant-select-item-option-content {
  height: 32px;
  display: block;
  align-content: center;
  align-items: center;
}
.ant-select-item-option-content {
  a {
    padding-top: 5px;
    height: 32px;
    display: block;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

.ant-select-dropdown {
  padding: 0;
}
 */
