body {
  background: $color-light;
}
.custom-shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.ant-popover {
  .ant-popover-content {
    .ant-popover-buttons {
      .ant-btn-primary {
        background-color: $color-primary;
        border-color: $color-primary;
      }
      .ant-btn-sm:not(.ant-btn-primary) {
        &.ant-btn:hover,
        &.ant-btn:focus {
          color: $color-primary;
          border-color: $color-primary;
        }
      }
    }
  }
}

.table-button-actions {
  .update-button:hover,
  .update-button:focus {
    color: $color-primary;
    border-color: $color-primary;
  }
  .delete-button:hover,
  .delete-button:focus {
    color: $color-danger;
    border-color: $color-danger;
  }
}

.ant-spin {
  &.ant-spin-spinning {
    .ant-spin-dot {
      .ant-spin-dot-item {
        background-color: $color-primary;
      }
    }
  }
}

.ant-empty .ant-empty-footer .ant-btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
}

.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: $color-primary;
  border-color: $color-primary;
}

.ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox-input:focus + .ant-tree-checkbox-inner {
  border-color: $color-primary;
}

.ant-radio-checked .ant-radio-inner {
  border-color: $color-primary;
}

.ant-radio-inner::after {
  background-color: $color-primary;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: $color-primary;
}

.ant-slider-handle {
  border: solid 2px $color-primary;
}

.ant-slider-handle:focus {
  border-color: $color-primary;
}

.ant-slider-track {
  background-color: $color-primary;
}

.ant-slider:hover .ant-slider-track {
  background-color: $color-primary;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: $color-primary;
}

.ant-slider-dot-active {
  border-color: $color-primary;
}

.ant-slider-handle.ant-tooltip-open {
  border-color: $color-primary;
}
