.user-dashboard {
  .logo {
    height: 32px;
    margin: 16px;
  }

  .site-layout {
    .site-layout-background {
      background: #fff;
      height: fit-content;
    }
  }
  .ant-layout-sider-trigger{
      background-color: #4E73DF;
  }
}
