// Colors

$color-primary: #0d0998;
$color-primary-hover: #0d09983d;
$color-primary-dark: #0e09985b;
$color-secondary: #858796;
$color-success: #1cc88a;
$color-danger: #e74a3b;
$color-warning: #f6c23e;
$color-dark: #5a5c69;
$color-light: #f8f9fc;
$color-light-alternative: #190862;
$color-dark-bold: #0c1d4e;
$color-gray: #6e707e;
$color-black: #2e2f37;
$color-white: #fff;
$color-text-nav-black: #3a3b45;
$color-hover-nav-bar: #eaecf4;
$color-secondary-alt: #ffbc00;
$color-disable: #dddddd;
