// Colors

$color-primary: #4e73df;
$color-secondary: #858796;
$color-success: #1cc88a;
$color-danger: #e74a3b;
$color-warning: #f6c23e;
$color-dark: #5a5c69;
$color-light: #f8f9fc;
$color-light-alternative: #9ab4ff;
$color-dark-bold: #0c1d4e;
$color-gray: #6e707e;
$color-black: #2e2f37;
$color-white: #fff;
$color-text-nav-black: #3a3b45;
$color-hover-nav-bar: #eaecf4;
